include ./../input/input.pug
include ./../button/button.pug

mixin dropdown(options = {})
  -
    const { label, placeholder, open, type = "guests" ,items = [], actionButtons = true } = options
    let classes = "dropdown js-dropdown"
    if(open) classes += " dropdown_open"


  div(class=classes, data-type=type)
    .dropdown__header.js-dropdown__header
      .dropdown__input.js-dropdown__input
        +input({type: "text", label: label, placeholder: placeholder, js: true, readonly: true, textEllipsis: true})
        .dropdown__icon 
          span.dropdown__icon-arrow.material-icons expand_more
    .dropdown__drop-items.js-dropdown__drop-items 
      each item in items 
        .dropdown__item.js-dropdown__item
          span.dropdown__item-name.js-dropdown__item-name= item.name
          .dropdown__calculator
            button.dropdown__calculator-action-minus.js-dropdown__calculator-action-minus -
            span.dropdown__calculator-value.js-dropdown__calculator-value= item.value
            button.dropdown__calculator-action-plus.js-dropdown__calculator-action-plus +

      if (actionButtons === true)
        .dropdown__buttons
          .dropdown__button-clear.js-dropdown__button-clear
            +button({text: "очиcтить", modification: "simple"})
          .dropdown__button-apply.js-dropdown__button-apply
            +button({text: "применить", modification: "simple"})
