@import './../../styles/vars.scss';

$blockName: 'dropdown';

.#{$blockName} {
  position: relative;
  max-width: 320px;

  &__input {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    cursor: pointer;
  }

  &__drop-items {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 100;
    display: none;
    padding: 5px 7px 7px 15px;
    background-color: #fff;
    border: 1px solid $color-main-50;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 10px 20px $color-main-05;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__item-name {
    @extend %widget-title-small;
  }

  &__calculator {
    display: flex;
    align-items: center;
  }

  &__calculator-value {
    display: inline-block;
    width: 32px;
    text-align: center;
    @extend %widget-title-small;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 17px 0 0;
  }

  &__calculator-action-minus,
  &__calculator-action-plus {
    width: 30px;
    height: 30px;
    color: $color-main-50;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid $color-main-50;
    border-radius: 22px;
    outline: none;
    cursor: pointer;
  }

  &__calculator-action-minus:disabled,
  &__calculator-action-plus:disabled {
    color: $color-main-25;
    border: 1px solid $color-main-25;
  }

  &__calculator-action-minus:focus-visible,
  &__calculator-action-plus:focus-visible {
    box-shadow: 0 0 0 0.5px $color-main-75;
  }

  &__button-clear_hidden {
    position: relative;
    z-index: -1;
    opacity: 0;
  }

  &_open {
    .#{$blockName}__drop-items {
      display: block;
      border-top: none;
    }
  }
}
