mixin pagination()
  .pagination.js-pagination
    .pagination__nav-buttons.js-pagination__nav-buttons
      span.pagination__action-prev.js-pagination__action-prev.material-icons arrow_back
      span.pagination__page-number 1
      span.pagination__page-number 2
      span.pagination__page-number.pagination__current-page 3
      span.pagination__dots ...
      span.pagination__page-number 10
      span.pagination__action-next.js-pagination__action-next.material-icons arrow_forward
    .pagination__description.js-pagination__description 1 – 12 из 100+ вариантов аренды

    