@import './../../styles/vars.scss';

.pagination {
  &__nav-buttons {
    display: flex;
    align-items: center;
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 40px;
    height: 40px;
  }

  span:focus-visible {
    box-shadow: 0 0 0 1px $darkShade-50;
  }

  &__page-number {
    border-radius: 22px;
    font-size: 12px;
    cursor: pointer;
  }

  &__page-number:hover {
    font-weight: 700;
    color: #FFF;
    background: $purple_gradient;
  }

  &__current-page {
    font-weight: 700;
    color: #FFF;
    background: $purple_gradient;
  }

  &__description {
    margin-top: 8px;
    margin-left: 6px;
  }

  &__action-next,
  &__action-prev {
    border-radius: 22px;
    color: #FFF;
    background: $green_gradient;
    cursor: pointer;
  }
}

@media screen and (max-width: 420px) {
  .pagination {
    span {
      width: 30px;
      height: 30px;
    }
  }
}