@import './../../page-layout/page-template.scss';

.landing {
  background: url('./assets/img/lending-img.png') center/cover no-repeat;

  &__search-form {
    position: relative;
    z-index: 101;
    padding-top: 70px;
  }

  &__description {
    max-width: 300px;
    margin: 320px 0 0 auto;
    padding-bottom: 18px;
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .landing {
    &__description {
      margin: 150px 0 0 auto;
    }
  }
}
