@import './../../styles/reset.scss';
@import './../../styles/fonts.scss';
@import './../../styles/global.scss';
@import './../../styles/vars.scss';

.main {
  border-bottom: 1px solid $darkShade-25;
  padding-bottom: 70px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 60px;
}

.sidebar {
  width: 100%;
  min-width: 266px;
  max-width: 266px;

  & > div {
    width: 266px;
  }

  &__guest-dropdown {
    margin-top: 20px;
  }

  &__range-slider {
    margin-top: 30px;

    &-description {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  &__rules {
    margin-top: 26px;
    max-width: 225px;

    .widget-title {
      margin-bottom: 17px;
    }
  }

  &__rules-item {
    margin-top: 10px;
  }

  &__availability {
    margin-top: 31px;

    .widget-title {
      margin-bottom: 17px;
    }
  }

  &__availability-item {
    margin-top: 9px;
  }

  &__comforts-dropdown {
    margin-top: 29px;
  }

  &__checkbox-list {
    margin-top: 25px;
  }
}

.search-room {
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
    gap: 12px;
  }

  &__item {
    margin-top: 8.5px;
  }
}

.search-room__pagination {
  margin: 40px auto 0;
  width: fit-content;

  .pagination {
    margin-right: 15px;
  }
}

.search-room__item {
  max-width: 270px;
}

@media screen and (max-width: 920px) {
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 100%;
    gap: 20px;

    & > div {
      min-width: 266px;
    }

    & > div:nth-child(1n+1) {
      margin-top: 10px;
    }
  }

  .main-content {
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }

  .search-room__title {
    text-align: center;
  }

  .search-room__items {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 585px) {
  .search-room__item {
    max-width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .search-room__item {
    max-width: 300px;
  }
}
