@import './../../styles/reset.scss';
@import './../../styles/fonts.scss';
@import './../../styles/global.scss';

.main{
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);

}

.main-content{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 60px
}

.sidebar{
  max-width: 266px;
  min-width: 266px;
  width: 100%;
  & > div {
    width: 266px;
  }
}

.sidebar__guest-dropdown{
  margin-top: 20px;
}
.sidebar__range-slider{
  margin-top: 30px;
  &-description{
    font-size: 12px;
    margin-top: 10px;
  }
}

.sidebar__rules{
  margin-top: 26px;
  .widget-title{
    margin-bottom: 17px;
  }
}

.sidebar__rules-item{
  margin-top: 10px;
}

.sidebar__availability{
  margin-top: 31px;
  .widget-title{
    margin-bottom: 17px;
  }
}


.sidebar__availability-item{
 margin-top: 9px;
}

.sidebar__comforts-dropdown{
  margin-top: 29px;
}

.sidebar__checkbox-list{
  margin-top: 25px;
}

.search-room__items{
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.search-room__item{
  margin-top: 8.5px;
}

.search-room__pagination{
  width: fit-content;
  margin: 40px auto 0 auto;
  .pagination{
    margin-right: 15px;
  }
}

.search-room__item{
  max-width: 270px;
} 
@media screen and (max-width:920px) {
  .sidebar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 100%;
    gap: 20px;

    & > div:nth-child(1n+1){
      margin-top: 10px;
      gap: 0
    }
  }
  .main-content{
    flex-direction: column;
    justify-content: center;
    gap: 60px
  }
  .search-room__title{
    text-align: center;
  }

  .search-room__items{
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:585px){
  .search-room__item{
    max-width: 400px;
  } 
  
} 

@media screen and (max-width:420px){
  .search-room__item{
    max-width: 300px;
  } 
} 
