@import './../../page-layout/page-template.scss';
@import './../../styles/vars.scss';

.main {
  padding-bottom: 70px;
  border-bottom: 1px solid $darkShade-25;
}

.main-content {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-top: 30px;
}

.sidebar {
  width: 100%;
  min-width: 266px;
  max-width: 266px;

  &__guest-dropdown {
    margin-top: 20px;
  }

  &__range-slider {
    margin-top: 30px;

    &-description {
      margin-top: 10px;
      font-size: 12px;
    }
  }

  &__rules {
    max-width: 225px;
    margin-top: 26px;
  }

  &__rules-title {
    margin-bottom: 17px;
  }

  &__rules-item {
    margin-top: 10px;
  }

  &__availability {
    margin-top: 31px;
  }

  &__availability-title {
    margin-bottom: 17px;
  }

  &__availability-item {
    margin-top: 9px;
  }

  &__comforts-dropdown {
    margin-top: 29px;
  }

  &__checkbox-list {
    margin-top: 25px;
  }
}

.sidebar > div {
  width: 266px;
}

.search-room {
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 14px;
    list-style: none;
  }

  &__item {
    max-width: 270px;
    margin-top: 8.5px;
  }
}

.search-room__pagination {
  width: fit-content;
  margin: 40px auto 0;

  .pagination {
    margin-right: 15px;
  }
}

@media screen and (max-width: 920px) {
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    min-width: 100%;

    & > div {
      min-width: 266px;
    }

    & > div:nth-child(1n + 1) {
      margin-top: 10px;
    }
  }

  .main-content {
    flex-direction: column;
    gap: 60px;
    justify-content: center;
  }

  .search-room {
    &__title {
      text-align: center;
    }

    &__items {
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 585px) {
  .search-room__item {
    max-width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .search-room__item {
    max-width: 300px;
  }
}
