@import './../../styles/vars.scss';

.radio__input{
  opacity: 0;
  appearance: none;
}

.radio__label{
  display: flex;
  height: 20px;
  position: relative;
 
  & > span{
      line-height: initial;
      padding-left: 30px;
      color: $darkShade-50;
  }

  & > span::before{
      position: absolute;
      content: '';
      left:0;
      width: 20px;
      height: 20px;
      border: 1px solid $darkShade-25;
      border-radius: 10px;
  }
  & > span::after{
      position: absolute;
      content: '';
      left: 4px;
      top: 4px;
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 10px;
      display: none;
  }
  & > .radio__input:not(:disabled):not(:checked)+span:hover::before {
      border-color: $purple;
  }

  & > .radio__input:not(:disabled):active+span::before {
      box-shadow: 0 0 0 1px $purple;
  }

  & > .radio__input:checked+span::before {
      border-color: $purple;
  }

  & > .radio__input:checked+span {
      color: $darkShade-75
  }

  & > .radio__input:checked+span::after {
      display: block;
  }

  & > .radio__input:disabled+span::before {
      background-color: rgba($darkShade-25, $alpha: 0.4)
  }
}
