@import './../../styles/vars.scss';

.input{
  
  &__text-field{
    max-width: 320px;
    width: 100%;
    margin-top: 5px;
    padding: 12px 15px;
    border: 1px solid $darkShade-25;
    border-radius: 4px;
    outline: none;
    color: $darkShade-75;
    line-height: 18px;
  }

  &__text-field::placeholder{
    color: $darkShade-25;
  }

  &__text-field:focus{
    border: 1px solid $darkShade-50;
  }

  &__text-field:hover{
    border: 1px solid $darkShade-50;
  }

  &__inner{
    position: relative;
    max-width: 320px;
  }

  &__button{
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    border: none;
    background: inherit;
    cursor: pointer;
    span{
      color: $purple;
    } 
  }
}