include ./../widget-title/widget-title.pug

mixin input(options={})
  -
    const {type, placeholder, value, mask, disabled, 
          readonly, required ,subscribe = false, label = ""} = options

    let classes =  'input__text-field'

  if (label && subscribe === false)
      label.input
        +widget-title({text: label})
        input(class = classes, 
              type = type, 
              placeholder = placeholder, 
              value = value, 
              data-mask = mask, 
              disabled = disabled, 
              readonly = readonly,
              required = required 
              )

  
  if(subscribe === true)
    label.input.input--subscribe
      +widget-title({text: label})
      .input__inner
        input(class = classes, 
              type = 'mail', 
              placeholder = placeholder, 
              value = value, 
              disabled = disabled, 
              readonly = readonly
              required = required 
              )
        button(class= "input__button" type="submit")
          span.material-icons arrow_forward



  if(label === '') 
    .input
      input(class = classes, 
            type = type, 
            placeholder = placeholder, 
            value = value, 
            data-mask = mask,
            disabled = disabled, 
            readonly = readonly
            required = required 
          )
  