@import './../../styles/vars.scss';

.input {
  &__text-field {
    margin-top: 5px;
    outline: none;
    border: 1px solid $darkShade-25;
    border-radius: 4px;
    padding: 12px 14px;
    width: 100%;
    max-width: 320px;
    line-height: 18px;
    color: $darkShade-75;

    &_text-ellipsis {
      overflow: hidden;
      padding-right: 90px;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    &::placeholder {
      color: $darkShade-25;

      @extend %body_text;
    }

    &:focus,
    &:hover {
      border: 1px solid $darkShade-50;
    }

    @extend %body_text;
  }

  &__inner {
    position: relative;
    max-width: 320px;
  }

  &__subscribe-arrow {
    position: absolute;
    right: 9px;
    top: 50%;
    outline: none;
    border: none;
    height: 24px;
    background: inherit;
    transform: translateY(-45%);
    cursor: pointer;

    & > span {
      color: $purple;
    }
  }
}
