@import './../../styles/vars.scss';

.input {
  &__label {
    margin-bottom: 5px;
  }

  &__text-field {
    width: 100%;
    max-width: 320px;
    padding: 12px 14px;
    color: $color-main-darker;
    line-height: 18px;
    border: 1px solid $color-main-light;
    border-radius: 4px;
    outline: none;

    &_text-ellipsis {
      padding-right: 90px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    &_focused {
      border-color: $color-main-dark;
    }

    &_flat-bottom {
      border-radius: 4px 4px 0 0;
    }

    &::placeholder {
      color: $color-main-light;
      @extend %body-text;
    }

    &:focus,
    &:hover {
      border: 1px solid $color-main-dark;
    }

    @extend %body-text;
  }

  &__inner {
    position: relative;
    max-width: 320px;
  }

  &__subscribe-arrow {
    position: absolute;
    top: 50%;
    right: 9px;
    height: 24px;
    background: inherit;
    border: none;
    outline: none;
    transform: translateY(-45%);
    cursor: pointer;
    user-select: none;

    & > span {
      color: $color-bright-main;
    }
  }
}
