include ./../widget-title/widget-title.pug

mixin input(options={})
  -
    const {type, placeholder, value, label, mask, disabled, readonly} = options
    
    let classes =  'input__text-field'

  if (label)
      label.input
        +widget-title({text: label})
        input(class = classes, 
              type = type, 
              placeholder = placeholder, 
              value = value, 
              data-mask = mask, 
              disabled = disabled, 
              readonly = readonly
              )

  else 
    .input
      input(class = classes, 
            type = type, 
            placeholder = placeholder, 
            value = value, 
            data-mask = mask,
            disabled = disabled, 
            readonly = readonly
          )
  