mixin rate-button(options={})
  -
    const { rate=4 } = options
    let i = 0 
  .rate-button
    while i < 5
      if (i < rate)
        span.material-icons star
      else
        span.material-icons star_border
      - i++