mixin chart
  .chart
    canvas#room-chart
    ul.chart__label-list
      -
        const params = ['Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован']
      each param in params
        li.chart__label-item= param
