#room-chart {
  width: 140px;
  max-height: 125px;
}

.chart {
  display: flex;
  max-width: 160px;
}

.chart__label {
  &-list {
    position: relative;
    right: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
  }

  &-item {
    position: relative;
    padding-left: 15px;
    line-height: 24px;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      transform: translateY(-50%);
    }

    &:nth-child(1)::before {
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }

    &:nth-child(2)::before {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }

    &:nth-child(3)::before {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &:nth-child(4)::before {
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
  }
}

@media screen and (max-width: 420px) {
  .chart__label {
    &-list {
      right: 30px;
    }
  }
}