extends ./../../page-layout/page-template.pug
include ./../../components/room-search-form/room-search-form.pug

block head-title 
  -
    const title = "landing-page"

block content
  section.landing
    .container
      .landing__search-form
        +room-search-form
        p.landing__description Лучшие номера для вашей работы, отдыха и просто вдохновения


