@import './../../styles/vars.scss';

.nav {
  margin-right: 20px;

  &__item-href {
    outline: none;
    font-weight: inherit;
    text-decoration: none;
    color: $darkShade-50;

    &:focus,
    &:hover {
      color: $darkShade-75;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 21px;
  }

  &__item {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
  }

  &__item-link {
    color: $darkShade-50;
  }

  &__item-link > span {
    color: inherit;
  }

  &__item-childrens {
    position: absolute;
    left: -20px;
    top: 25px;
    display: none;
    padding: 0 20px 20px;
    box-shadow: 0 10px 20px $darkShade-50;
    white-space: nowrap;
    background: #FFF;
  }

  &__item-children:hover {
    color: $darkShade-100;
  }

  &__item-children-href {
    outline: none;
    font-weight: inherit;
    text-decoration: none;
    color: $darkShade-50;

    &:focus,
    &:hover {
      color: $darkShade-75;
    }
  }
}

.nav__item_hav-childrens {
  .nav__item-link {
    display: flex;
  }

  .nav__item-arrow {
    position: relative;
  }

  .nav__item-arrow::before {
    content: '\e5cf';
  }
}

.nav__item_active {
  .nav__item-href {
    font-weight: bold;
    color: $darkShade-75;

    &:focus,
    &:hover {
      color: $darkShade-75;
    }
  }
}

.nav__item_open {
  .nav__item-childrens {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .nav {
    &__list {
      display: block;
    }

    &__item {
      margin-top: 10px;
    }

    &__item-childrens {
      position: relative;
      left: 10px;
      top: 0;
      padding: 0;
      box-shadow: none;
    }
  }
}
