@import './../../styles/vars.scss';

.nav {
  margin-right: 20px;

  &__item-href {
    color: $color-main-50;
    font-weight: inherit;
    text-decoration: none;
    outline: none;

    &:focus,
    &:hover {
      color: $color-main-75;
    }
  }

  &__list {
    display: flex;
    gap: 21px;
    list-style: none;
  }

  &__item {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
  }

  &__item-link {
    color: $color-main-50;

    & > span {
      color: inherit;
    }
  }

  &__item-children {
    position: absolute;
    top: 25px;
    left: -20px;
    z-index: 105;
    display: none;
    padding: 10px 20px 20px;
    white-space: nowrap;
    list-style: none;
    background: #fff;
    box-shadow: 0 10px 20px $color-main-50;

    &:hover {
      color: $color-main;
    }
  }

  &__item-children-item-href {
    color: $color-main-50;
    font-weight: inherit;
    text-decoration: none;
    outline: none;

    &:focus,
    &:hover {
      color: $color-main-75;
    }
  }

  &__item_hav-children {
    .nav__item {
      &-link {
        display: flex;
      }

      &-arrow {
        position: relative;
      }

      &-arrow::before {
        content: '\e5cf';
      }
    }
  }

  &__item_active {
    .nav__item-href {
      color: $color-main-75;
      font-weight: bold;

      &:focus,
      &:hover {
        color: $color-main-75;
      }
    }
  }

  &__item_open {
    .nav__item-children {
      display: block;
    }
  }

  @media screen and (max-width: 900px) {
    &__list {
      display: block;
    }

    &__item {
      margin-top: 10px;
    }

    &__item-children {
      position: relative;
      top: 0;
      left: 10px;
      padding: 0;
      box-shadow: none;
    }
  }
}
