@import './../../styles/vars.scss'; 

.nav{
  margin-right: 20px;
  &__list{
    display: flex;
    gap: 20px;
    list-style: none;
  }

  &__item{
    cursor: pointer;
    position: relative;
  }

  &__item-link:hover{
    color: $darkShade-100;
  }

  &__item-childrens{
    display: none;
    position: absolute;
    top: 25px;
    left: -20px;
    padding: 0px 20px 20px 20px;
    background: #FFF;
    white-space: nowrap;
    box-shadow: 0px 10px 20px $darkShade-50;
  }

  &__item-children:hover{
    color: $darkShade-100;
  }

  &__item-name{
    display: flex;
  }
}

.nav__item--hav-childrens{
  .nav__item-link{
    display: flex;
  }
  span{
    position: relative;
  }
  span::before{
    content: '\e5cf';
  }
}

.nav__item--active{
  .nav__item-link{
    font-weight: bold;
    color: $darkShade-75;
  }
}

.nav__item--open{
  .nav__item-childrens{
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .nav{
    &__list{
      display: block;
    }

    &__item{
      margin-top: 10px;
    }

    &__item-childrens{
      position: relative;
      top: 0px;
      left: 10px;
      padding: 0;
      box-shadow: none;
    }
  }
}


