include ./../logo/logo.pug

mixin footer-mobile(options = {})
  -
    const { socials = [], isShow = false } = options 

    const classes = [
      "footer-mobile", 
      isShow ? "footer-mobile_showed" : ""
    ]
    let classesSocial = "footer-mobile__social"

  footer(class=classes)
    .footer-mobile__logo
      +logo
    .footer-mobile__copy-right Copyright © 2018 Toxin отель. Все права защищены.
    ul.footer-mobile__social 
      each social in socials 
        - const { href = "", src = "", name = "" } = social
        li.footer-mobile__social-item
          a.footer-mobile__social-href(href=href)
            img(
              src=src,
              alt=name
            )

