include ./../logo/logo.pug

mixin footer-mobile(options = {})
  -
    const { socials = [] } = options 
    let classes = 'footer-mobile__social'

  footer.footer-mobile
    .footer-mobile__logo
      +logo
    .footer-mobile__copy-right Copyright © 2018 Toxin отель. Все права защищены.
    .footer-mobile__social 
      each social in socials 
        - classes +=`-${social.name}`
        div(class=classes)
          a(href='#')
            img(
              src=social.src,
              alt=social.name
            )

