@import './../../styles/vars.scss';

.login-form {
  padding: 40px 30px 30px;
  background: #fff;

  &__mail {
    margin-top: 20px;
  }

  &__password {
    margin-top: 10px;
  }

  &__button-login {
    margin-top: 20px;
  }

  &__button-create {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  .button_purple-border {
    .button__text {
      padding: 12.5px 16px;
    }
  }

  @extend %card-border-shadow;
}
