@import './../../styles/vars.scss';

.login-form{
  padding: 40px 30px 30px 30px;
  @extend %card-border-shadow;
  background: #FFFFFF;

  &__mail{
    margin-top: 16px;
  }

  &__password{
    margin-top: 5px;
  }

  &__button-login{
    margin-top: 20px;
  }

  &__button-create{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  .button--purple-border{
    .button__text{
      padding: 12.5px 16px;
    }
  } 
}
