mixin button(options = {})
  -
    const { text, mod, js, disabled} = options 
    
    let classes = `button js-button`
    if(mod === 'simple') classes+= ' button--simple'
    if(mod === 'purple') classes+= ' button--purple'
    if(mod === 'purple-border') classes+= ' button--purple-border'
    
  button(class=classes, disabled=disabled)
    span.button__text= text