@import './../../styles/vars.scss';

.button {
  border: none;
  background-color: #FFF;
  cursor: pointer;

  &__text,
  &__icon {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: inherit;

    @extend %body_text;
  }

  &_simple {
    outline: none;
    color: $purple;

    &:focus,
    &:hover {
      color: $darkShade-50;
    }

    &:disabled {
      color: $darkShade-50;
      cursor: default;
    }
  }

  &_simple > span {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: inherit;
  }

  &_purple {
    outline: none;
    border-radius: 22px;
    padding: 14.5px 20px;
    color: #FFF;
    background: $purple_gradient;

    &.button_short {
      padding: 0 20px;
    }

    &:focus,
    &:hover {
      background: linear-gradient(180deg, rgba(#BC9CFF, 0.5) 0%, rgba(#8BA4F9, 0.5) 100%);
      background-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &:disabled {
      background: linear-gradient(180deg, rgba(#BC9CFF, 0.5) 0%, rgba(#8BA4F9, 0.5) 100%);
      background-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      cursor: default;
    }
  }

  &_purple-border {
    outline: none;
    border-radius: 22px;
    padding: 2px;
    color: #FFF;
    background: $purple_gradient;

    .button__text {
      border-radius: 22px;
      padding: 12.5px 18px;
      color: $purple;
      background: #FFF;
    }

    &.button_short {
      padding: 2px;

      .button__text {
        padding: 7.5px 18px;
      }
    }

    &:focus,
    &:hover,
    &:disabled {
      background: linear-gradient(180deg, rgba(#BC9CFF, 0.5) 0%, rgba(#8BA4F9, 0.5) 100%);
      background-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &:disabled {
      cursor: default;
    }
  }

  &_purple-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    border-radius: 22px;
    padding: 8.5px 8px;
    width: 100%;
    max-width: 320px;
    color: #FFF;
    background: $purple_gradient;

    .button__text {
      flex-grow: 1;
      padding-left: 25px;
    }

    .button__icon > span {
      color: #FFF;
    }

    &:focus,
    &:hover,
    &:disabled {
      background: linear-gradient(180deg, rgba(#BC9CFF, 0.5) 0%, rgba(#8BA4F9, 0.5) 100%);
      background-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }

  &_short {
    height: 34px;
  }
}
