@import '../../styles/vars.scss';

$blockName: 'button';

.#{$blockName} {
  padding: 2px;
  background-color: #fff;
  border: none;
  border-radius: 22px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &__inner {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }

  &__text,
  &__icon {
    display: inline-block;
    border-radius: 22px;
    color: inherit;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    @extend %body_text;
  }

  &_text-color-main {
    color: $purple;
  }

  &_text-color-secondary {
    color: #FFF;
  }


  &_color-main {
    background: $purple_gradient;
    &:focus,
    &:hover,
    &:disabled {
      opacity: 0.5;
    }
  }

  &_color-secondary {
    &.#{$blockName}_outlined {
      background: $purple_gradient;
  
      &:focus,
      &:hover,
      &:disabled {
        background: linear-gradient(
          180deg,
          rgba(#bc9cff, 0.5) 0%,
          rgba(#8ba4f9, 0.5) 100%
        );
      }
    }
    
    .#{$blockName}__text {
      background: #fff;
    }
  }

  &_default {
    margin: 0;
    padding: 0;

    &:focus,
    &:hover {
      color: $darkShade-50;
    }

    &:disabled {
      color: $darkShade-50;
    }
  }

  &_small {
    .#{$blockName}__text {
      padding: 7.5px 18px;
      border-radius: 26px;
    }
  }

  &_medium {
    .#{$blockName}__text {
      padding: 12.5px 18px;
      border-radius: 26px;
    }
  }

  &_big {
    width: 100%;
    max-width: 320px;

    .#{$blockName}__text {
      width: 100%;
      padding: 12.5px 0;
      border-radius: 22px;
    }
  }

  &_with-icon {
    position: relative;
    display: block;

    .#{$blockName}__text {
      flex-grow: 1;
      padding-right: 30px;
      padding-left: 30px;
    }

    .#{$blockName}__icon {
      position: absolute;
      right: 8px;
    }
  }
}
