@import '../../styles/vars.scss';

$blockName: 'button';

.#{$blockName} {
  padding: 2px;
  background-color: #fff;
  border: none;
  border-radius: 22px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &__inner {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }

  &__text,
  &__icon {
    display: inline-block;
    border-radius: 22px;
    color: inherit;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    @extend %body-text;
  }

  &_text-color-main {
    color: $color-bright-main;
  }

  &_text-color-secondary {
    color: #FFF;
  }


  &_color-main {
    background: $gradient-main;
    &:focus,
    &:hover,
    &:disabled {
      opacity: 0.5;
    }
  }

  &_color-secondary {
    &.#{$blockName}_outlined {
      background: $gradient-main;
  
      &:focus,
      &:hover,
      &:disabled {
        background: $gradient-main-transparent;
      }
    }
    
    .#{$blockName}__text {
      background: #fff;
    }
  }


  &_size-default {
    margin: 0;
    padding: 0;

    &:focus,
    &:hover {
      color: $color-main-dark;
    }

    &:disabled {
      color: $color-main-dark;
    }
  }

  &_size-small {
    .#{$blockName}__text {
      padding: 7.5px 18px;
      border-radius: 26px;
    }
  }

  &_size-medium {
    .#{$blockName}__text {
      padding: 12.5px 18px;
      border-radius: 26px;
    }
  }

  &_size-big {
    width: 100%;
    max-width: 320px;

    .#{$blockName}__text {
      width: 100%;
      padding: 12.5px 0;
      border-radius: 22px;
    }
  }

  &_with-icon {
    position: relative;
    display: block;

    .#{$blockName}__text {
      flex-grow: 1;
      padding-right: 30px;
      padding-left: 30px;
    }

    .#{$blockName}__icon {
      position: absolute;
      right: 8px;
    }
  }
}
