@import './../../styles/vars.scss';

.main {
  border-bottom: 1px solid $darkShade-25;
}

.room-gallery {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);

  &__photo--big {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__photo {
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 420px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.room-content {
  margin-top: 44px;
  margin-bottom: 71px;

  &__container {
    display: flex;
    gap: 70px;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
  }
}

.room-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 992px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.room-benefits {
  margin-top: 27px;

  &__items {
    margin-top: 20px;
    list-style: none;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.room-grade {
  margin: 27px 103px 27px 0;

  &__title {
    margin-left: 3px;

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }

  &__chart {
    margin-top: 19px;
  }

  @media screen and (max-width: 420px) {
    margin-left: 0;
  }
}

.room-reviews {
  margin-top: 12px;

  &__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__count {
    padding-left: 10px;
    color: rgba(31, 32, 65, 0.5);
    line-height: 14px;
  }

  &__item {
    margin-top: 22px;
  }
}

.room-rules {
  width: 37%;
  margin-top: 32px;

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.room-cancel {
  width: 47%;
  margin-top: 32px;
  margin-right: 15px;

  &__description {
    margin-top: 20px;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.room-booking-form {
  min-width: 380px;
  margin-top: 27px;

  @media screen and (max-width: 420px) {
    min-width: 300px;
  }
}
