@import './../../styles/vars.scss';

.like-button{
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  border: 1px solid $darkShade-25;
  box-sizing: border-box;
  border-radius: 10px;
  background: #FFFFFF;

  span{
    width: 20px;
    font-size: 12px;
    font-size: 10px;
    line-height: 12px;
   
  }
  &__count{
    padding-right: 5px;
  }

  &--liked{
    border: 1px solid $purple;
    span{
      color: $purple
    }
  }
}