@import './../../styles/vars.scss';

.like-button {
  display: flex;
  align-items: center;
  outline: none;
  border: 1px solid $darkShade-25;
  border-radius: 10px;
  width: 40px;
  height: 20px;
  box-sizing: border-box;
  background: #FFF;
  cursor: pointer;

  &__count {
    padding-right: 5px;
    width: 20px;
    font-size: 10px;
    line-height: 12px;
  }

  & > span {
    width: 20px;
    font-size: 10px;
    line-height: 12px;
  }

  &_liked {
    border: 1px solid $purple;

    & > span {
      color: $purple;
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px $purple;
  }

  @extend %body_text;
}