include ./../../components/input/input.pug
include ./../../components/dropdown/dropdown.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    header.header
    .wrapper 
        main.main
            .container-fluid
              .ui-kit-form-elem
                //colum
                .ui-kit-form-elem__colum
                  .ui-kit-form-elem__text-field
                    +input({type: "mail", label: "text-field", placeholder: "Email",})
                  .ui-kit-form-elem__text-field
                    +input({type: "text", label: "text-field", value: "This is pretty awesome"})
                  .ui-kit-form-elem__dropdown 
                    +dropdown({label: "Dropdown", placeholder: "Сколько Гостей", items:[
                      {name: "взрослые", value: "0"},
                      {name: "дети", value: "0"},
                       {name: "младенцы", value: "0"}
                    ]})
                
                //colum
                .ui-kit-form-elem__colum
                //colum
                .ui-kit-form-elem__colum
                
        footer.footer f   