@import './../../styles/fonts.scss';
@import './../../styles/global.scss';
@import './../../styles/reset.scss';

.main{
  padding: 100px 0px;
}

.ui-kit-form-elem{
  display: flex;
  justify-content: space-between;

  &__colum{
    width: 33%;
  }

  &__text-field:nth-child(2){
    margin-top: 20px;
  }
}