include ./../../components/input/input.pug
include ./../../components/dropdown/dropdown.pug
include ./../../components/button/button.pug
include ./../../components/date-dropdown/date-dropdown.pug
include ./../../components/widget-title/widget-title.pug
include ./../../components/range-slider/range-slider.pug
include ./../../components/checkbox/checkbox.pug
include ./../../components/radio/radio.pug
include ./../../components/toggle/toggle.pug
include ./../../components/like-button/like-button.pug
include ./../../components/rate-button/rate-button.pug
include ./../../components/pagination/pagination.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    header.header
    .wrapper 
        main.main
            .container-fluid
              .ui-kit-form-elem
                //colum
                .ui-kit-form-elem__colum
                  .ui-kit-form-elem__text-field
                    +input({type: "mail", label: "text field", placeholder: "Email",})

                  .ui-kit-form-elem__text-field
                    +input({type: "text", label: "text field", value: "This is pretty awesome"})

                  .ui-kit-form-elem__dropdown-guest
                    +dropdown({label: "Dropdown", placeholder: "Сколько гостей", items:[
                      {name: "взрослые", value: "0"},
                      {name: "дети", value: "0"},
                      {name: "младенцы", value: "0"}
                    ]})
                    
                  .ui-kit-form-elem__mask-text-field
                    +input({type: "text", label: "masked text field", mask: "data", placeholder: "ДД.ММ.ГГГГ"})
                  
                  .ui-kit-form-elem__date-dropdown
                    +date-dropdown({label: "date Dropdown", secondLabel:"date Dropdown",root:"ui-kit-double-date-dropdown", mod:"double"})
                  
                  .ui-kit-form-elem__filter-date-dropdown
                    +date-dropdown({label: "filter date dropdown", root:"ui-kit-filter-date-dropdown", mod:"filter", value:"19 авг - 23 авг"})

                  .ui-kit-form-elem__input-subscribe
                    +input({label: "subscription text field",subscribe: true})
                
                
                
                //colum
                .ui-kit-form-elem__colum
                  .ui-kit-form-elem__checkbox
                    .ui-kit-form-elem__checkbox-title 
                      +widget-title({text:"Checkbox Buttons"})
                    .ui-kit-form-elem__checkbox-items
                      .ui-kit-form-elem__checkbox-item
                        +checkbox({label :"Можно курить"})
                      .ui-kit-form-elem__checkbox-item
                        +checkbox({label :"Можно с питомцами", checked: true})
                      .ui-kit-form-elem__checkbox-item
                        +checkbox({label :"Можно пригласить гостей (до 10 человек)", checked: true})

                  .ui-kit-form-elem__radio
                    .ui-kit-form-elem__radio-title 
                      +widget-title({text:"Radio Buttons"})
                    .ui-kit-form-elem__radio-items
                      .ui-kit-form-elem__radio-item
                        +radio({label: "Мужчина", name:"sex", checked: true})
                      .ui-kit-form-elem__radio-item
                        +radio({label: "Женщина", name:"sex"})

                  .ui-kit-form-elem__toggle
                    .ui-kit-form-elem__toggle-title 
                      +widget-title({text:"Toggle"})
                    .ui-kit-form-elem__toggle-items
                      .ui-kit-form-elem__toggle-item
                        +toggle({label: "Получать спецпредложения", checked: true})
                      .ui-kit-form-elem__toggle-item
                        +toggle({label: "Получать спецпредложения"})

                  .ui-kit-form-elem__like-button
                    .ui-kit-form-elem__like-button-title
                      +widget-title({text:"like button"})
                    .ui-kit-form-elem__like-button-items
                      .ui-kit-form-elem__like-button-item
                        +like-button({count: "2"})
                      .ui-kit-form-elem__like-button-item
                        +like-button({count: "12", like: "true"})

                    .ui-kit-form-elem__rate-button
                      +widget-title({text: "rate button"})
                      .ui-kit-form-elem__rate-button-items
                        .ui-kit-form-elem__rate-button-item
                          +rate-button({rate:"4"})
                        .ui-kit-form-elem__rate-button-item
                          +rate-button({rate:"5"})



                //colum
                .ui-kit-form-elem__colum
                  .ui-kit-form-elem__range-slider 
                    +range-slider({label: "Range Slider", min:"0", max:"16000", start:"5000", end:"10000"})

                  .ui-kit-form-elem__buttons
                    +widget-title({text: "Buttons"})

                    .ui-kit-form-elem__buttons-purple
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "purple"})
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "purple", disabled: true})
                        
                    .ui-kit-form-elem__buttons-purple-border
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "purple-border"})
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "purple-border", disabled: true})

                    .ui-kit-form-elem__buttons-simple
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "simple"})
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "simple", disabled: true})

                    .ui-kit-form-elem__buttons-purple-link
                        +button({text:'перейти к оплате', mod: "purple-link"})

                  .ui-kit-form-elem__pagination 
                    .ui-kit-form-elem__pagination-title 
                      +widget-title({text: "pagination"})
                    .ui-kit-form-elem__pagination-content
                      +pagination()
        footer.footer f   