include ./../../components/input/input.pug
include ./../../components/dropdown/dropdown.pug
include ./../../components/button/button.pug
include ./../../components/date-dropdown/date-dropdown.pug
include ./../../components/widget-title/widget-title.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    header.header
    .wrapper 
        main.main
            .container-fluid
              .ui-kit-form-elem
                //colum
                .ui-kit-form-elem__colum
                  .ui-kit-form-elem__text-field
                    +input({type: "mail", label: "text field", placeholder: "Email",})
                  .ui-kit-form-elem__text-field
                    +input({type: "text", label: "text field", value: "This is pretty awesome"})
                  .ui-kit-form-elem__dropdown-guest
                    +dropdown({label: "Dropdown", placeholder: "Сколько гостей", items:[
                      {name: "взрослые", value: "0"},
                      {name: "дети", value: "0"},
                      {name: "младенцы", value: "0"}
                    ]})
                  .ui-kit-form-elem__mask-text-field
                    +input({type: "text", label: "masked text field", mask: "data", placeholder: "ДД.ММ.ГГГГ"})
                  .ui-kit-form-elem__date-dropdown
                    +date-dropdown({root:"ui-kit-double-date-dropdown", mod:"double"})
                  .ui-kit-form-elem__filter-date-dropdown
                    +date-dropdown({root:"ui-kit-filter-date-dropdown", mod:"filter"})
                //colum
                .ui-kit-form-elem__colum
                //colum
                .ui-kit-form-elem__colum
                  .ui-kit-form-elem__buttons
                    +widget-title({text: "Buttons"})
                    .ui-kit-form-elem__buttons-purple
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "purple"})
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "purple", disabled: true})
                    .ui-kit-form-elem__buttons-purple-border
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "purple-border"})
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "purple-border", disabled: true})
                    .ui-kit-form-elem__buttons-simple
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "simple"})
                      .ui-kit-form-elem__button
                        +button({text:"click me", mod: "simple", disabled: true})
                    
        footer.footer f   