@import './../../styles/fonts.scss';
@import './../../styles/global.scss';
@import './../../styles/reset.scss';

.main{
  padding: 100px 0px;
}

.ui-kit-form-elem{
  display: flex;
  justify-content: space-between;

  &__colum{
    width: 33%;
  }

  &__text-field:nth-child(2){
    margin-top: 20px;
  }

  &__dropdown-guest{
    margin-top: 20px;
  }

  &__mask-text-field{
    margin-top: 22px;
  }

  &__buttons-purple{
    margin-top: 16px;
    display: flex;
  }

  &__buttons-purple-border{
    display: flex;
    margin-top: 30px;
  }

  &__buttons-simple{
    display: flex;
    margin-top: 27px;
    padding-left: 1px;
  }

  &__button{
    margin-right: 19px;
  }
}