@import './../../styles/vars.scss';

.search-rooms {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 70px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 14px;

    @media screen and (max-width: 920px) {
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    max-width: 270px;
    margin-top: 8.5px;

    @media screen and (max-width: 585px) {
      max-width: 400px;
    }

    @media screen and (max-width: 420px) {
      max-width: 300px;
    }
  }

  &__pagination {
    width: fit-content;
    margin: 40px auto 0;
  }

  @media screen and (max-width: 920px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    min-width: 100%;

    &__title {
      text-align: center;
    }
  }

  @media screen and (max-width: 920px) {
    flex-direction: column;
    gap: 60px;
    justify-content: center;
  }
}
