include ./../../components/head/head.pug
include ./../../components/header/header.pug
include ./../../components/footer/footer.pug
include ./../../components/footer-mobile/footer-mobile.pug

+head({title: "ui-kit-header-footer"})
body
  .iu-kit
    .ui-kit__header
      +header({items:[ 
        {link:{ name: "О нас", href: "/change-me" }, active: true}, 
        {link:{ name: "Услуги" }, childrens:[ 
          {name:"Услуги 1", href:"/change-me"}, 
          {name:"Услуги 2", href:"/change-me"}, 
          ]}, 
        {link: {name: "Вакансии", href: "/change-me"}},
        {link: {name: "Новости", href: "/change-me"}}, 
        {link:{ name: "Соглашения"}, childrens:[ 
          {name:"Соглашения 1", href: "/change-me"}, 
          {name:"Соглашения 2", href: "/change-me"}, 
          {name:"Соглашения 3", href: "/change-me"}, 
          ]} 
        ]})
    .ui-kit__header-auth
      +header({
        auth: "Юлий Цезарь",
        items:[ 
          {link:{ name: "О нас" }, active: true}, 
          {link:{ name: "Услуги" }, childrens:[ 
            {name:"Услуги 1", href:"/change-me"}, 
            {name:"Услуги 2", href:"/change-me"}, 
            ]}, 
          {link: {name: "Вакансии", href: "/change-me"}}, 
          {link:{ name: "Новости", href: "/change-me"}}, 
          {link:{ name: "Соглашения", href: "/change-me"}, childrens:[ 
            {name:"Соглашения 1", href: "/change-me"}, 
            {name:"Соглашения 2", href: "/change-me"}, 
            {name:"Соглашения 3", href: "/change-me"}, 
            ]}, 
          ]})
    main.main
    .ui-kit__footer-in-desktop
      +footer({
        items: [ 
          {title: "навигация", links: [ 
            {name: "О нас", href: "/change-me"}, 
            {name: "Новости", href: "/change-me"}, 
            {name: "Служба поддержки", href: "/change-me"}, 
            {name: "Услуги", href: "/change-me"}, 
            ]}, 
          {title: "о нас", links: [ 
            {name: "О сервисе", href: "/change-me"}, 
            {name: "Новости", href: "/change-me"}, 
            {name: "Наша команда", href: "/change-me"}, 
            {name: "Вакансии", href: "/change-me"}, 
            ]}, 
          {title: "Служба поддержки", links: [ 
            {name: "Соглашения", href: "/change-me"}, 
            {name: "Сообщества", href: "/change-me"}, 
            {name: "Связь с нами", href: "/change-me"}, 
            ]}, 
          ],
          socials: [
            {name: "twitter", href: "/change-me", src: require("./assets/img/twitter.png")},
            {name: "facebook", href: "/change-me", src: require("./assets/img/facebook.png")},
            {name: "instagram", href: "/change-me", src: require("./assets/img/instagram.png")},
            ]
          })

    .ui-kit__footer-in-mobile
      +footer-mobile({
        socials: [
          {name: "twitter", href: "/change-me", src: require("./assets/img/twitter.png")},
          {name: "facebook", href: "/change-me", src: require("./assets/img/facebook.png")},
          {name: "instagram", href: "/change-me", src: require("./assets/img/instagram.png")},
        ]
        })
