include ./../../components/head/head.pug
include ./../../components/header/header.pug
include ./../../components/footer/footer.pug
include ./../../components/footer-mobile/footer-mobile.pug

+head({title: "Header & Footer"})
body
  .wrapper
    .ui-kit-header
      +header({items:[
        {name: "О нас", active: true},
        {name: "Услуги", childrens:[
          {name:"Услуги 1"},
          {name:"Услуги 2"},
        ]},
        {name: "Вакансии"},
        {name: "Новости"},
        {name: "Соглашения", childrens:[
          {name:"Соглашения 1"},
          {name:"Соглашения 2"},
          {name:"Соглашения 3"},
        ]},
      ]})
    .ui-kit-header-auth
      +header({auth: "Юлий Цезарь", items:[
        {name: "О нас", active: true},
        {name: "Услуги", childrens:[
          {name:"Услуги 1"},
          {name:"Услуги 2"},
        ]},
        {name: "Вакансии"},
        {name: "Новости"},
        {name: "Соглашения", childrens:[
          {name:"Соглашения 1"},
          {name:"Соглашения 2"},
          {name:"Соглашения 3"},
        ]},
      ]})
    main.main
    .footer-in-desktop
      +footer()
    
    .footer-in-mobile
      +footer-mobile()

    

  
    
