.ui-kit {
  background: #e5e5e5;

  &__header-auth {
    margin-top: 40px;
  }

  &__footer-in-desktop {
    margin-top: 40px;
  }

  &__footer-in-mobile {
    padding: 40px 0;
    background: #e5e5e5;
  }
}
