.ui-kit-header-auth {
  margin-top: 40px;
}

body {
  background: #e5e5e5;
}

.main {
  margin-top: 40px;
}

.footer-in-mobile {
  padding: 40px 0;
  background: #e5e5e5;

  .footer-mobile {
    display: block;
  }
}
