@import './../../styles/vars.scss';

.date-dropdown {
  max-width: 320px;

  &__header {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    @media screen and (max-width: 420px) {
      flex-wrap: wrap;
    }
  }

  &__input {
    position: relative;
    width: 100%;
    min-width: 100px;
  }

  .input__text-field::placeholder {
    color: $color-main-75;
  }

  &__input-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    cursor: pointer;
  }

  &__calendar {
    position: relative;
    z-index: 100;
    display: none;
    margin-top: 5px;

    .calendar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @media screen and (max-width: 420px) {
      .calendar {
        position: fixed;
        top: 80px;
        right: auto;
        bottom: 0;
        left: 30px;
        width: 80%;
        margin-right: 15px;
        overflow: scroll;
      }
    }
  }

  &[data-type='filter'] {
    .input__text-field {
      cursor: pointer;
    }
  }

  &_open {
    .date-dropdown__calendar {
      display: block;
    }
  }

  @media screen and (max-width: 420px) {
    &__popup {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 98;
      background: $color-main-75;
    }
  }
}
