include ./../input/input.pug
include ./../calendar/calendar.pug

mixin date-dropdown(options={})
  -
    const { root,  mod = "filter"} = options
  if (mod === "double")  
    div(class = "date-dropdown js-date-dropdown" data-type="double")
      .date-dropdown__header
        .date-dropdown__input.js-date-dropdown__input
          +input({label:"date-dropdown", mask: "data", placeholder: "ДД.ММ.ГГГГ"})
          .date-dropdown__input-icon
            snap.material-icons expand_more
        .date-dropdown__input.js-date-dropdown__input
          +input({label:"date-dropdown", mask: "data", placeholder: "ДД.ММ.ГГГГ"})
          .date-dropdown__input-icon
            snap.material-icons expand_more
      .date-dropdown__calendar
        +calendar({root:root})


  if (mod === "filter")
    div(class = "date-dropdown js-date-dropdown" data-type="filter")
      .date-dropdown__header
        .date-dropdown__input.js-date-dropdown__input
          +input({label:"date-dropdown", placeholder: "Укажите Дату", readonly: true})
          .date-dropdown__input-icon
            snap.material-icons expand_more
      .date-dropdown__calendar
        +calendar({root:root})
  