@import './../../styles/vars.scss';

.date-dropdown{
  max-width: 320px;

  &__header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__input{
    position: relative;
    width: 100%;
    min-width: 100px;
  }

  .input__text-field::placeholder{
    color: $darkShade-75
  }

  &__input-icon{
    position: absolute;
    right: 8px;
    top: 50%;
    cursor: pointer;
  }

  &__calendar{
    display: none;
    margin-top: 5px;
    position: relative;
    z-index: 100;
    .calendar{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  
}
.date-dropdown[data-type=filter]{
  .input__text-field{
   cursor: pointer;
  }
}
.date-dropdown--open{
  .date-dropdown__calendar{
    display: block;
  }
}

