@import './../../styles/reset.scss';
@import './../../styles/fonts.scss';
@import './../../styles/global.scss';


.main{
  text-align: center;
  padding: 40px 0;
}

.pages__link{
  margin-top: 10px;
}

.ui-kit{
  margin-top: 40px;
}

.ui-kit__link{
  margin-top: 10px;
}