include ./../../components/head/head.pug

+head()
body 
  header.header
    .container 
  .wrapper 
    main.main
      .container Страницы Сайта TOXIN 
        .page
          a(href="/landing-page.html") landing-page
        .page
          a(href="/search-room-page.html") search-room-page
        .page
          a(href="/registration-page.html") registration-page
      .container Страницы ui-kit
        .ui-kit-form-elements
          a(href="/ui-kit-colors-type.html") ui-kit-colors-type
        .ui-kit-form-elements
          a(href="/ui-kit-form-elements.html") ui-kit-form-elements
        .ui-kit-cards
          a(href="./ui-kit-cards.html") ui-kit-cards
        .ui-kit-header-footer
          a(href="./ui-kit-header-footer.html") ui-kit-header-footer
    footer.footer 