include ./../../components/head/head.pug

+head()
body 
  header.header
    .container Страницы проекта
  .wrapper 
    main.main
      .container 
        .ui-kit-form-elements
          a(href="/ui-kit-form-elements.html") ui-kit-form-elements
        .ui-kit-cards
        a(href="./ui-kit-cards.html") ui-kit-cards
    footer.footer 