@import './../../styles/vars.scss';

.range-slider {
  max-width: 266px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__values {
    display: flex;
    align-items: center;
  }

  &__value {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__slider {
    margin-top: 22px;
  }

  &__input-start,
  &__input-end {
    position: absolute;
    z-index: -100;
    opacity: 0;
  }
}

.noUi-horizontal {
  height: 6px;
}

.noUi-target {
  background: #fafafa;
  border: 1px solid $darkShade-25;
  border-radius: 3px;
}

.noUi-horizontal .noUi-handle {
  top: -6px;
  right: -6px;
  width: 15px;
  height: 15px;
  background: $green_gradient;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: none;
}

.noUi-handle {
  outline: none;

  &::before,
  &::after {
    display: none;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $green;
  }
}

.noUi-touch-area {
  background: $green_gradient;
  border-radius: 10px;
}

.noUi-connect {
  background: $green_gradient;
}
