@import './../../styles/vars.scss';

.range-slider {
  max-width: 266px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__values {
    display: flex;
    align-items: center;
  }

  &__value {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__slider {
    margin-top: 22px;
  }

  &__input-start,
  &__input-end {
    position: absolute;
    z-index: -100;
    opacity: 0;
  }
}
