@import 'material-icons';

@font-face {
  src:
    url('fonts/Montserrat-Regular.woff') format('woff'),
    url('fonts/Montserrat-Regular.ttf') format('truetype'),
    url('fonts/Montserrat-Regular.svg') format('svg');
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src:
    url('fonts/Montserrat-Bold.woff') format('woff'),
    url('fonts/Montserrat-Bold.ttf') format('truetype'),
    url('fonts/Montserrat-Bold.svg') format('svg');
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src:
    url('fonts/MaterialIcons-Regular.woff') format('woff'),
    url('fonts/MaterialIcons-Regular.ttf') format('truetype'),
    url('fonts/MaterialIcons-Regular.svg') format('svg');
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
}
