@import 'material-icons';

@font-face {
  font-weight: 400;
  font-family: 'Montserrat';
  font-style: normal;
  src: url('fonts/montserrat/montserrat-regular.woff2') format('woff2'),
    url('fonts/montserrat/montserrat-regular.woff') format('woff'),
    url('fonts/montserrat/montserrat-regular.ttf') format('truetype'),
    url('fonts/montserrat/montserrat-regular.svg') format('svg');
}

@font-face {
  font-weight: 700;
  font-family: 'Montserrat';
  font-style: normal;
  src: url('fonts/montserrat/montserrat-bold.woff2') format('woff2'),
    url('fonts/montserrat/montserrat-bold.woff') format('woff'),
    url('fonts/montserrat/montserrat-bold.ttf') format('truetype'),
    url('fonts/montserrat/montserrat-bold.svg') format('svg');
}

@font-face {
  font-weight: 400;
  font-family: 'Material Icons';
  font-style: normal;
  src: url('fonts/material-icons/material-icons-regular.woff2') format('woff2'),
    url('fonts/material-icons/material-icons-regular.woff') format('woff'),
    url('fonts/material-icons/material-icons-regular.ttf') format('truetype'),
    url('fonts//material-icons/material-icons-regular.svg') format('svg');
}
