$darkShade-100: #1f2041;
$darkShade-75: rgba(31, 32, 65, 0.75);
$darkShade-50: rgba(31, 32, 65, 0.5);
$darkShade-25: rgba(31, 32, 65, 0.25);
$darkShade-5: rgba(31, 32, 65, 0.05);
$darkShade-1: rgba(31, 32, 65, 0.1);
$purple: #bc9cff;
$green: #6fcf97;
$purple_gradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$green_gradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
$montserrat: 'Montserrat', 'Arial', sans-serif;

%card-border-shadow {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

%widget_title-big {
  color: $darkShade-100;
  font-weight: 700;
  font-size: 24px;
  font-family: $montserrat;
  font-style: normal;
  line-height: 29px;
}

%widget_title-medium {
  color: $darkShade-100;
  font-weight: 700;
  font-size: 19px;
  font-family: $montserrat;
  font-style: normal;
  line-height: 23px;
}

%widget_title-small {
  color: $darkShade-100;
  font-weight: 700;
  font-size: 12px;
  font-family: $montserrat;
  line-height: 15px;
  text-transform: uppercase;
}

%body_text {
  color: $darkShade-75;
  font-weight: 400;
  font-size: 14px;
  font-family: $montserrat;
  font-style: normal;
  line-height: 24px;
}

%wrapper {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

%main {
  flex: 1 0 auto;
}

%footer {
  flex: 0 0 auto;
}

%container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

%container-fluid {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
