extends ./../../page-layout/page-template.pug
include ./../../components/register-account-form/register-account-form.pug

block head-title 
  -
    const title = "registration-page"

block content
  section.registration
    +register-account-form({buttonText: "зарегистрироваться"})
