@import './../../page-layout/page-template.scss';

.main {
  background: url('./assets/img/registration-page.png') center center/cover no-repeat;
}

.registration {
  margin: 19px auto;
  width: 100%;
  max-width: 380px;
}

@media screen and (max-width: 420px) {
  .registration-form {
    padding: 5px;
  }
}