.main {
  background: url('./assets/img/registration-page.png') center center/cover
    no-repeat;
}

.registration {
  width: 100%;
  max-width: 380px;
  margin: 19px auto;
}

@media screen and (max-width: 420px) {
  .registration-form {
    padding: 5px;
  }
}
