@import './../../styles/vars.scss';

.register-account-form {
  max-width: 380px;
  padding: 40px 30px 30px;
  background: #fff;

  @extend %card-border-shadow;

  &__name {
    margin-top: 15px;
  }

  &__last-name {
    margin-top: 5px;
  }

  &__checkboxes {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }

  &__date {
    margin-top: 24px;
  }

  &__mail {
    margin-top: 20px;
  }

  &__password {
    margin-top: 5px;
  }

  &__special {
    margin-top: 8px;
  }

  &__pay-button {
    margin-top: 22px;
  }

  &__login-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

    .button__text {
      padding: 12.5px 24px;
    }
  }
}
