include ./../widget-title/widget-title.pug
include ./../checkbox/checkbox.pug

mixin checkbox-list(options = {})
  -
    const { title, open, items = [] } = options

    const classes = [
      "checkbox-list",
      "js-checkbox-list",
      open ? "checkbox-list_open" : ""
    ]

  div(class=classes)
    .checkbox-list__header.js-checkbox-list__header
      .checkbox-list__title 
        +widget-title({text: title})
      .checkbox-list__icon.js-checkbox-list__icon(tabindex="0")
        span.material-icons expand_more
    ul.checkbox-list__items 
      each item in items 
        li.checkbox-list__item
          +checkbox(item)
