.checkbox-list {
  max-width: 266px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    margin-right: 8px;
    height: 24px;
    transition: 0.4s;
    cursor: pointer;
  }

  &__items {
    display: none;
    margin-top: 13px;
  }

  &__item {
    list-style: none;
    margin-top: 10px;
  }
}

.checkbox-list_open {
  .checkbox-list__items {
    display: block;
  }

  .checkbox-list__icon {
    transform: rotate(180deg);
  }
}