@import './../../styles/vars.scss';

.checkbox-list {
  max-width: 266px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    height: 24px;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    transition: 0.4s;

    &:focus-visible {
      border: 1px solid $darkShade-50;
    }
  }

  &__items {
    display: none;
    margin-top: 13px;
  }

  &__item {
    margin-top: 10px;
    list-style: none;
  }

  &_open {
    .checkbox-list {
      &__items {
        display: block;
      }

      &__icon {
        transform: rotate(180deg);
      }
    }
  }
}
