include ./../like-button/like-button.pug

mixin comment(options = {})
  -
    const { src, name, time, comment, count ,liked = false } = options

  article.comment
    .comment__header 
      .comment__avatar
        img.comment__avatar-img(src=src, alt="avatar")
      .comment__info 
        h3.comment__person-name= name
        p.comment__time= time
    .comment__content 
      .comment__like
        +like-button({ count, liked })
      p.comment__text= comment
