
@import './../../styles/vars.scss';

.comment {
  &__header {
    display: flex;
  }

  &__avatar {
    border: 2px solid #FFF;
    border-radius: 32px;
    height: 48px;
    max-width: 48px;
    box-sizing: border-box;
    filter: drop-shadow(0 10px 20px $darkShade-1);
  }

  &__avatar-img {
    border-radius: 32px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    padding-left: 10px;
  }

  &__person-name {
    font-weight: bold;
    color: $darkShade-75;
  }

  &__content {
    display: flex;
    margin-top: 10px;
  }

  &__like {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    min-width: 48px;
  }

  &__text {
    padding-left: 10px;
  }
}