@import './../../styles/vars.scss';

.project-links {
  padding: 40px 0;
  text-align: center;

  &__item {
    margin-top: 10px;
  }

  &__item-href {
    @extend %body-text;
  }

  &__ui-kit {
    margin-top: 40px;
  }
}
