@import './../../styles/vars.scss';

.main {
  padding: 40px 0;
  text-align: center;
}

.pages__link {
  margin-top: 10px;
}

.ui-kit {
  margin-top: 40px;
}

.ui-kit__link {
  margin-top: 10px;
}

.pages__link-href,
.ui-kit__link-href {
  @extend %body_text;
}
