@import './../../styles/reset.scss';
@import './../../styles/fonts.scss';
@import './../../styles/global.scss';

.main {
  padding: 40px 0;
  text-align: center;
}

.pages__link {
  margin-top: 10px;
}

.ui-kit {
  margin-top: 40px;
}

.ui-kit__link {
  margin-top: 10px;
}