
@import './../../styles/vars.scss';

.air-datepicker {
  border: 1px solid $darkShade-25;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 10px 20px $darkShade-5;

  &-nav {
    display: flex;
    justify-content: space-between;
  }

  &-nav--title {
    cursor: pointer;

    @extend %widget_title-medium;
  }

  &-nav--action > span {
    color: $purple;
    cursor: pointer;
  }

  &-body.-hidden- {
    display: none;
  }

  &-body--day-names {
    margin-top: 20px;
  }

  &-body--day-name {
    font-weight: bold;
    color: $purple;
  }

  &-cell.-day- {
    color: $darkShade-50;
  }

  &-cell.-day-.-other-month- {
    color: $darkShade-25;
  }

  &-cell.-day-.-focus- {
    position: relative;
    z-index: 1;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
  }

  &-cell.-day-.-focus-::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 22px;
    background: $green_gradient;
  }

  &-cell.-day-.-selected- {
    position: relative;
    z-index: 1;
    font-weight: bold;
    color: #FFF;
  }

  &-cell.-day-.-selected-::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 22px;
    background: $purple_gradient;
  }

  &-cell.-day-.-selected-.-range-from- {
    background: linear-gradient(90deg, #FFF 0%, #FFF 50%, rgba($purple, 0.25) 50%, rgba($purple, 0.25) 100%);
  }

  &-cell.-day-.-focus-.-selected-.-range-from- {
    position: relative;
    z-index: 0;
    background: #FFF;
  }

  &-cell.-day-.-focus-.-range-from- {
    position: relative;
    z-index: 0;
    background: linear-gradient(90deg, #FFF 0%, #FFF 50%, rgba($purple, 0.25) 50%, rgba($purple, 0.25) 100%);
  }

  &-cell.-day-.-selected-.-range-to- {
    background: linear-gradient(90deg, rgba($purple, 0.25) 0%, rgba($purple, 0.25) 50%, #FFF 50%, #FFF 100%,);
  }

  &-cell.-day-.-focus-.-range-to- {
    position: relative;
    z-index: 0;
    background: linear-gradient(90deg, rgba($purple, 0.25) 0%, rgba($purple, 0.25) 50%, #FFF 50%, #FFF 100%,);
  }

  &-cell.-day-.-selected-.-focus-.-range-from-.-range-to- {
    background: #FFF;
  }

  &-cell.-day-.-in-range- {
    position: relative;
    z-index: 0;
    border-radius: 0;
    background: rgba($purple, 0.25);
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
  }

  &.-inline- {
    background: #FFF;
  }

  &-body--day-names,
  &-body--cells.-days- {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &-body--day-name,
  &-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
  }

  &-body--cells.-years-,
  &-body--cells.-months- {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &-cell.-year-,
  &-cell.-month- {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
  }

  &-cell.-year-.-focus-,
  &-cell.-month-.-focus- {
    background: rgba($purple, 0.25);
  }

  &-cell.-year-.-selected-,
  &-cell.-month-.-selected- {
    background: rgba($purple, 0.25);
  }
}

.calendar {
  width: 320px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
}

@media screen and(max-width: 420px) {
  .calendar {
    width: 100%;
  }

  .air-datepicker {
    &-body--day-name,
    &-cell {
      height: 30px;
    }
  }
}