@import '../../styles/vars.scss';

.calendar {
  width: 320px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__button {
    span {
      font-weight: bold;
    }

    &:focus,
    &:hover {
      span {
        color: $darkShade-50;
      }
    }
  }

  @media screen and(max-width: 420px) {
    width: 100%;
    height: fit-content;
  }
}
