@import './../../styles/vars.scss';

.header{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px $darkShade-5;

  &__inner{
    display: flex;
    align-items: center;
    height: 70px;
  }

  &__logo{
    flex-grow: 1;
  }

  &__burger-button{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__burger-line{
    height: 3px;
    width: 70%;
    border: 1px solid #FFF;
    border-radius: 5px;
    margin: 2px 0px;
  }

  &__close-button{
    display: none;
    border: none;
    background: #FFF;
    font-size: 40px;
    transform: rotate(45deg);
  }

  &__panel{
    display: flex;
    align-items: center;
  }

  &__login{
    display: flex;
    gap: 20px;
  }

  &__login-name{
    padding-left: 20px;
    border-left: 1px solid $darkShade-1;
    color: $darkShade-50;
  }
}

@media screen and (max-width: 900px) {
  .header{

    &__inner{
      padding: 10px 0px;
    }
    &__panel{
      display: none;
    }

    &__burger-button{ 
      display: flex;
      width: 40px;
      height: 40px;
      background: $purple_gradient;
      border-radius: 22px;
      border: none
    }

    &__panel{
      width: 300px;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 200;
      height: 100vh;
      padding-bottom: 20px;
      overflow: scroll;
      background: #FFF;
      box-shadow: -17px 0px 12px 3px rgba(0, 0, 0, 0.23);
    }

    &__close-button{
      display: block;
      margin: 10px 10px 10px auto;
    }

    &__nav{
      display: flex;
      margin: 40px auto;
      width: fit-content;
    }

    &__login{
      flex-wrap: wrap;
      width: 50%;
      margin: 0 auto;
    }

    &__login-name{
      padding: 10px 20px;
      border-left: none;
      border-top: 1px solid $darkShade-1;
      color: $darkShade-50
    }
  }

  .header__panel-visible{
    display: block;
  }
}


