@import './../../styles/vars.scss';

.header {
  background: #fff;
  box-shadow: 0 10px 20px $darkShade-5;

  &__inner {
    display: flex;
    align-items: center;
    height: 70px;
  }

  &__logo {
    flex-grow: 1;
  }

  &__burger-button {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    outline: none;

    &:focus-visible {
      box-shadow: 0 0 0 2px $purple;
    }
  }

  &__burger-line {
    width: 25px;
    height: 3px;
    margin: 2px 0;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  &__close-button {
    display: none;
    color: $darkShade-50;
    font-size: 40px;
    background: #fff;
    border: none;
    outline: none;
    transform: rotate(45deg);

    &:focus-visible {
      color: $darkShade-75;
    }
  }

  &__panel {
    display: flex;
    align-items: center;
  }

  &__login {
    display: flex;
    gap: 20px;
  }

  &__login-name {
    padding-left: 20px;
    color: $darkShade-50;
    border-left: 1px solid $darkShade-1;
  }
}

@media screen and (max-width: 900px) {
  .header {
    &__inner {
      padding: 10px 0;
    }

    &__panel {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 200;
      display: none;
      width: 300px;
      height: 100vh;
      padding-bottom: 20px;
      overflow: scroll;
      background: #fff;
      box-shadow: -17px 0 12px 3px rgba(0, 0, 0, 0.23);

      &_visible {
        display: block;
      }
    }

    &__burger-button {
      display: flex;
      width: 40px;
      height: 40px;
      background: $purple_gradient;
      border: none;
      border-radius: 22px;
    }

    &__close-button {
      display: block;
      margin: 10px 10px 10px auto;
    }

    &__nav {
      display: flex;
      width: fit-content;
      margin: 40px auto;
    }

    &__login {
      flex-wrap: wrap;
      width: 50%;
      margin: 0 auto;
    }

    &__login-name {
      padding: 10px 20px;
      color: $darkShade-50;
      border-top: 1px solid $darkShade-1;
      border-left: none;
    }
  }
}
