include ./../logo/logo.pug
include ./../button/button.pug
include ./../nav-menu/nav-menu.pug

mixin header(options={})
  -
    const {auth = false, items = [] } = options

  header.header.js-header 
    .container
      .header__inner
        .header__logo
          +logo
        button.header__burger-button.js-header__burger-button
          span.header__burger-line
          span.header__burger-line
          span.header__burger-line
        .header__panel.js-header__panel
          button.header__close-button.js-header__close-button +
          .header__nav
            +nav-menu({items: items})
          .header__login
            if (auth !== false)
              .header__login-name= auth
            else
              +button({text: "войти", mod: "purple-border", short: true}) 
              +button({text: "зарегистрироваться", mod: "purple", short: true})
