@import './../../styles/vars.scss';

.bullet-list {
  &__items {
    list-style: none;
    margin-top: 12px;
  }

  &__item {
    position: relative;
    margin-top: 10px;
    padding-left: 21px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: $darkShade-25;
    }
  }
}

.bullet-list_list-style {
  .bullet-list {
    &__title {
      padding-left: 21px;
    }

    &__items {
      margin-top: 20px;
    }
  }
}