@import './../../styles/vars.scss';

$blockName,: 'bullet-list';

.#{$blockName} {
  &__items {
    margin-top: 12px;
    list-style: none;
  }

  &__item {
    position: relative;
    margin-top: 10px;
    padding-left: 21px;

    &::before {
      position: absolute;
      top: 8px;
      left: 0;
      width: 10px;
      height: 10px;
      background: $darkShade-25;
      border-radius: 50%;
      content: '';
    }
  }

  &_list-style {
    .#{$blockName} {
      &__title {
        padding-left: 21px;
      }

      &__items {
        margin-top: 20px;
      }
    }
  }
}
