@import './../../styles/reset.scss';
@import './../../styles/fonts.scss';
@import './../../styles/global.scss';



.ui-kit{
  display: flex;
  padding: 80px 0px;
  gap: 40px;
  
  &__register-account-form{
    margin-top: 40px;
  }
}