@import './../../styles/reset.scss';
@import './../../styles/fonts.scss';
@import './../../styles/global.scss';

body {
  min-width: 1200px;
}

.ui-kit {
  display: flex;
  padding: 80px 0;
  gap: 40px;

  &__register-account-form {
    margin-top: 40px;
  }

  &__login-form {
    margin-top: 40px;
  }

  &__room-card {
    margin-top: 40px;
    max-width: 270px;
  }

  &__calendar {
    width: 320px;
  }
}