@import './../../page-layout/page-ui-kit.scss';

body {
  min-width: 1200px;
}

.ui-kit {
  display: flex;
  gap: 40px;
  padding: 80px 0;

  &__register-account-form {
    margin-top: 40px;
  }

  &__login-form {
    margin-top: 40px;
  }

  &__room-card {
    max-width: 270px;
    margin-top: 40px;
  }

  &__calendar {
    width: 320px;
  }
}
