@import './../../styles/vars.scss';

.footer {
  box-shadow: 0 1px 0 $darkShade-1;
  background: #FFF;

  &__inner {
    display: flex;
    padding: 100px 0 95px;
  }

  &__inner-item {
    &:nth-child(2) {
      margin-left: 40px;
    }

    &:nth-child(3) {
      margin-left: 57px;
    }

    &:nth-child(4) {
      margin-left: 93px;
    }

    &:nth-child(5) {
      margin-left: 52px;
    }
  }

  &__info {
    max-width: 260px;
  }

  &__description {
    margin-top: 18px;
  }

  &__widget {
    margin-top: 4px;
  }

  &__widget-list {
    list-style: none;
    margin-top: 18px;
  }

  &__widget-list-item {
    margin-top: 14px;
  }

  &__widget-link {
    outline: none;
    text-decoration: none;
    color: $darkShade-50;

    &:focus,
    &:hover {
      color: $darkShade-75;
    }
  }

  &__special {
    margin-top: 4px;
    max-width: 260px;
  }

  &__special-text {
    margin-top: 19px;
  }

  &__subscribe-form {
    margin-top: 18px;
  }

  &__copy-right {
    border-top: 1px solid $darkShade-25;
  }

  &__copy-right-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
  }

  &__social {
    display: flex;
    list-style: none;
    height: 24px;
    gap: 20px;
  }

  &__social-href {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;

    &:focus,
    &:hover {
      outline: none;
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}