include ./../logo/logo.pug
include ./../widget-title/widget-title.pug
include ./../input/input.pug
include ./../footer-mobile/footer-mobile.pug

mixin footer(options={})
  -
    const {items = []} = options
  footer.footer 
    .container 
      .footer__inner 
        .footer__inner-item
          .footer__info 
            .footer__logo
              +logo()
            .footer__description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        each item in items
          - const {title, links = [] } = item
          .footer__inner-item
            .footer__widget
              .footer__widget-title 
                +widget-title({text: title})
              ul.footer__widget-list
                each link in links 
                  li.footer__widget-link
                    a(href=link.href)= link.name

        .footer__inner-item
          .footer__special
            .footer__special-title 
              +widget-title({text: "Подписка"})
            .footer__special-text Получайте специальные предложения и новости сервиса
            form(class="footer__subscribe-form" action="#") 
              +input({type: "mail", subscribe: true, placeholder: "Email"})
            
    .footer__copy-right
      .container
        .footer__copy-right-inner
          .footer__copy-right-text Copyright © 2018 Toxin отель. Все права защищены.
          .footer__social
            .footer__social-twitter
              a(href="change-me")
                img(src=require('./../../components/footer/images/twitter.png'), alt="twitter")
            .footer__social-facebook
              a(href="change-me")
                img(src=require('./../../components/footer/images/facebook.png'), alt="facebook")
            .footer__social-instagram  
              a(href="change-me")
                img(src=require('./../../components/footer/images/instagram.png'), alt="instagram")

  +footer-mobile()

