@import './../../styles/vars.scss';

.footer {
  box-shadow: 0 1px 0 $darkShade-1;
  background: #FFF;

  &__inner {
    display: flex;
    padding: 100px 0 95px;
  }

  &__info {
    max-width: 260px;
  }

  &__description {
    margin-top: 18px;
  }

  &__widget {
    margin-top: 4px;
  }

  &__widget-list {
    list-style: none;
    margin-top: 18px;
  }

  &__widget-list-item {
    margin-top: 14px;
  }

  &__widget-link {
    text-decoration: none;
    color: $darkShade-50;

    &:hover {
      color: $darkShade-75;
    }
  }

  &__social-link:hover {
    opacity: 0.7;
  }

  &__special {
    margin-top: 4px;
    max-width: 260px;
  }

  &__special-text {
    margin-top: 19px;
  }

  &__subscribe-form {
    margin-top: 18px;
  }

  &__copy-right {
    border-top: 1px solid $darkShade-25;
  }

  &__copy-right-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 0;
  }

  &__social {
    display: flex;
    height: 24px;
    gap: 20px;
  }

  &__social-link {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
  }
}

.footer__inner-item:nth-child(2) {
  margin-left: 40px;
}

.footer__inner-item:nth-child(3) {
  margin-left: 57px;
}

.footer__inner-item:nth-child(4) {
  margin-left: 93px;
}

.footer__inner-item:nth-child(5) {
  margin-left: 52px;
}

@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }
}