@import './../../styles/reset.scss';
@import './../../styles/fonts.scss';
@import './../../styles/global.scss';

.main {
  background: url('./assets/img/registration-page.png') center bottom no-repeat;
}

.main__login-form {
  margin: 172px auto;
  width: 100%;
  max-width: 380px;
}