extends ./../../page-layout/page-template.pug
include ./../../components/login-form/login-form.pug

block head-title 
  -
    const title = "sing-in-page"

block content
  section.login
    +login-form




