@import './../../styles/reset.scss';
@import './../../styles/fonts.scss';
@import './../../styles/global.scss';

.main{
  background: url('./img/registration-page.png') center bottom no-repeat;
}

.main__login-form{
  max-width: 380px;
  width: 100%;
  padding: 10px;
  margin: 172px auto;
}