@import './../../page-layout/page-template.scss';

.main {
  background: url('./assets/img/registration-page.png') center/cover no-repeat;
}

.login {
  margin: 172px auto;
  width: 100%;
  max-width: 380px;
}
