@import './../../styles/vars.scss';

.booking-form {
  padding: 45px 30px 30px;
  max-width: 380px;
  background: #FFF;

  &__header {
    display: flex;
  }

  &__number {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $darkShade-100;

    &-value {
      font-weight: bold;
      font-size: 23px;
      line-height: 18px;
      text-transform: uppercase;
      color: $darkShade-100;
    }
  }

  &__type {
    margin-top: 2px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $purple;
  }

  &__price-for-day {
    flex-grow: 1;
    margin-top: 2px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: end;
    color: $darkShade-50;
  }

  &__price-name {
    font-size: 12px;
  }

  &__date-dropdown {
    margin-top: 18px;
  }

  &__guest-dropdown {
    margin-top: 22px;
  }

  &__price-list {
    margin-top: 20px;
  }

  &__price-list-item {
    display: flex;
    margin-top: 14px;
  }

  &__price-list-name {
    max-width: 215px;
    line-height: 18px;
  }

  &__price-list-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    border: 1px solid $darkShade-25;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    min-width: 20px;
    font-weight: bold;
    font-size: 12px;
    color: $darkShade-25;
  }

  &__price-list-value {
    flex-grow: 1;
    min-width: 40px;
    line-height: 18px;
    text-align: end;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__total-dots {
    flex-grow: 1;
    border-bottom: 1px dashed $darkShade-25;
    height: 20px;
  }

  &__booking-button {
    margin-top: 22px;
  }

  &__total-text,
  &__total-price {
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: $darkShade-100;
  }

  @extend %card-border-shadow;
}