@import './../../styles/vars.scss';

.toggle {
  user-select: none;

  &__label {
    display: inline-block;
    line-height: initial;

    &-text {
      position: relative;
      display: inline-flex;
      align-items: center;
      padding-left: 50px;
      cursor: pointer;

      &::before {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 40px;
        height: 20px;
        border: 1px solid $color-main-25;
        border-radius: 10px;
        content: '';
      }

      &::after {
        position: absolute;
        left: 4px;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: $color-main-25;
        border-radius: 10px;
        transition: 0.2s;
        content: '';
      }
    }
  }

  &__input {
    opacity: 0;
    appearance: none;

    &:not(:disabled):not(:checked) + span:hover::before {
      border-color: $color-bright-main;
    }

    &:not(:disabled):focus-visible + span::before {
      box-shadow: 0 0 0 1px $color-bright-main;
    }

    &:not(:disabled):active + span::before {
      box-shadow: 0 0 0 1px $color-bright-main;
    }

    &:not(:disabled):checked + span::before {
      border-color: $color-bright-main;
    }

    &:not(:disabled):checked + span::after {
      background: $gradient-main;
      transform: translateX(20px);
    }
  }
}
