@import './../../styles/vars.scss';


.slick-slider{
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track{
  display: flex;
  min-height: 42px;
}


.slick-arrow{
  position: absolute;
  top: 60px;
  z-index: 10;
  border: none;
  background: transparent;
  opacity: 0;
  transition: 0.5s;
  span{
    color: #FFF;
  }
}

.slick-arrow.slick-prev{
  left: 8px;
  transform: rotate(90deg);
}

.slick-arrow.slick-next{
  right: 8px;
  transform: rotate(-90deg);
}

.slick-dots{
  display: flex;
  position: absolute;
  z-index: 11;
  gap: 4px;
  bottom: 13px;
  right: 15px;
  list-style: none;
}

.slick-dots li.slick-active{
  button{
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  }
}

.slick-dots li button{
  width: 7.5px;
  height: 7.5px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background: transparent;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  font-size: 0;
}

.slick-slider:hover{
  .slick-arrow{
    opacity: 1;
  }
}

.room-card{
  box-shadow: 0px 10px 20px $darkShade-5;
  border-radius: 4px;
  background: #FFFFFF;
 

  &__images{
    min-height: 42px;

    img{
      width: 100%;
    }
  }
  &__info{
    display: flex;
    padding: 15px 0px 7px 0px;
    margin: 0px 20px;
    border-bottom: 1px solid $darkShade-1;
  }

  &__number{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $darkShade-100;

    & > span{
      font-weight: bold;
      font-size: 20px;
      line-height: 17px;
      color: $darkShade-100;
    }
  }

  &__type{
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $purple;
  }

  &__price{
    padding-left: 5px;
    flex-grow: 1;
    text-align: end;
    width: 90px;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    background: #FFF;
    color: $darkShade-50;

    & > span{
      color: $darkShade-50;
      font-size: 12px;
    }
  }

  &__reviews-items{
    padding: 10px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    
  }
}