@import './../../styles/vars.scss';

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  min-height: 42px;
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  border: none;
  width: 42px;
  height: calc(100% - 6px);
  background: transparent;
  opacity: 0;
  transition: 0.5s;

  & > span {
    color: #fff;
  }

  &.slick-prev {
    left: 0;
    background:
      linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0) 100%
      );
  }

  &.slick-prev > span {
    transform: rotate(90deg);
    cursor: pointer;
  }

  &.slick-next {
    right: 0;
    background:
      linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
  }

  &.slick-next > span {
    transform: rotate(-90deg);
    cursor: pointer;
  }
}

.slick-dots {
  position: absolute;
  right: 15px;
  bottom: 9px;
  z-index: 11;
  display: flex;
  list-style: none;
  cursor: pointer;
  gap: 4px;
}

.slick-dots .slick-active {
  button {
    box-shadow: 0 5px 5px rgba(31, 32, 65, 0.3);
    background: #fff;
  }
}

.slick-dots button {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 7.5px;
  height: 7.5px;
  font-size: 0;
  background: transparent;
  filter: drop-shadow(0 5px 5px rgba(31, 32, 65, 0.3));
}

.slick-slider:hover {
  .slick-arrow {
    opacity: 1;
  }
}

.room-card {
  border-radius: 4px;
  box-shadow: 0 10px 20px $darkShade-5;
  background: #fff;

  &__photo {
    min-height: 42px;
  }

  &__img {
    width: 100%;
  }

  &__info {
    display: flex;
    margin: 0 20px 0 18px;
    border-bottom: 1px solid $darkShade-1;
    padding: 15px 0 7px;
  }

  &__number {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $darkShade-100;
  }

  &__number-value {
    font-weight: bold;
    font-size: 20px;
    line-height: 17px;
    color: $darkShade-100;
  }

  &__type {
    margin-left: 7px;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: $purple;
  }

  &__price {
    flex-grow: 1;
    width: 90px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: $darkShade-50;
    background: #fff;
  }

  &__price-name {
    font-size: 12px;
    color: $darkShade-50;
  }

  &__reviews-items {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px 13px;
    background: #fff;
  }
}
