extends ./../../page-layout/page-ui-kit.pug
include ./../../components/widget-title/widget-title.pug

mixin color(options={})
  -
    const { name, className, hex } = options
    let classes = "ui-kit__color" +  ` ui-kit__color_${className}`
  div(class=classes)
    .ui-kit__color-square
    .ui-kit__color-description 
      .ui-kit__color-name
        +widget-title({text: name, level:"2"})
      .ui-kit__color-hex= hex

block page-title
  -
    const  title = "ui-kit-colors-type"

block content   
  .ui-kit
    .ui-kit__colors
      +color({name: "Dark Shade 100%", className: "color-main-100",hex: "#1F2041"})
      +color({name: "Dark Shade 75%", className: "color-main-75", hex: "#1F2041"})
      +color({name: "Dark Shade 50%", className: "color-main-50", hex: "#1F2041"})
      +color({name: "Dark Shade 25%", className: "color-main-25", hex: "#1F2041"})
      +color({name: "Dark Shade 5%", className: "color-main-5", hex: "#1F2041"})
      +color({name: "Purple", className: "color-bright-main", hex: "#BC9CFF"})
      +color({name: "Green", className: "color-bright-second", hex: "#6FCF97"})

    .ui-kit__typography
      .ui-kit__typography-container 
        .ui-kit__typography-type.ui-kit__typography-type_h1 h1
        .ui-kit__typography-text
          +widget-title({text: "This one is the sub-section or widget title", level: "1"})
      .ui-kit__typography-container 
        .ui-kit__typography-type.ui-kit__typography-type_h2 h2
        .ui-kit__typography-text
          +widget-title({text: "Next one is the item title inside widgets", level: "2"})
      .ui-kit__typography-container 
        .ui-kit__typography-type.ui-kit__typography-type_h3 h3
        .ui-kit__typography-text
          +widget-title({text: "This is a label or CTA text"})
      .ui-kit__typography-container 
        .ui-kit__typography-type Body
        .ui-kit__typography-text 
          | This is the body text which is used for most of the design, like paragraphs, lists, etc.

