@import './../../styles/vars.scss';

.benefits {
  display: flex;
  align-items: center;
  max-width: 280px;
  padding-bottom: 20px;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
  }

  &__title {
    color: $darkShade-75;
    font-weight: bold;
  }

  &__description {
    margin-left: 10px;
  }

  &_underlined {
    border-bottom: 1px solid $darkShade-1;
  }
}
