@import './../../styles/vars.scss'; 

.room-search-form{
  max-width: 380px;
  @extend %card-border-shadow;
  padding: 40px 30px 30px 30px;
  background: #FFF;

  &__date-dropdown{
    margin-top: 21px;
  }

  &__guest-dropdown{
    margin-top: 20px;
  }

  &__submit-button{
    margin-top: 31px;
  }
}