@import './../../styles/vars.scss';

.room-search-form {
  padding: 40px 30px 30px;
  max-width: 380px;
  background: #FFF;

  &__date-dropdown {
    z-index: 105;
    margin-top: 21px;
  }

  &__guest-dropdown {
    margin-top: 20px;
  }

  &__submit-button {
    margin-top: 31px;
  }

  @extend %card-border-shadow;
}
