include ./../../components/widget-title/widget-title.pug
include ./../../components/date-dropdown/date-dropdown.pug
include ./../../components/dropdown/dropdown.pug
include ./../../components/button/button.pug

mixin room-search-form
  form.room-search-form
    .room-search-form__title
      +widget-title({ text: "Найдём номера под ваши пожелания", level:"1" })
    .room-search-form__date-dropdown 
      +date-dropdown({ 
        label:"прибытие", 
        secondLabel:"выезд", 
        modification: "double", 
        root:"room-search-form__date-dropdown" 
      })
    .room-search-form__guest-dropdown 
      +dropdown({ 
        label: "гости", placeholder: "Сколько гостей", items:[ 
          { name: "взрослые", value: "0" }, 
          { name: "дети", value: "0" }, 
          { name: "младенцы", value: "0" } 
        ]})
    .room-search-form__submit-button
      +button({ 
        text: "подобрать номер", 
        modification: "purple", 
        size: "big",
        icon: "arrow_forward",
        link: "/search-room.html"
      })
